cmake==3.29.2
ninja==1.11.1.1  # For faster builds.
psutil==5.9.8
sentencepiece==0.2.0  # Required for LLaMA tokenizer.
numpy==1.26.4
requests==2.31.0
py-cpuinfo==9.0.0
transformers==4.40.1  # Required for StarCoder2 & Llava, Llama 3.
tokenizers==0.19.1 # Required for Llama 3.
fastapi==0.110.3
openai
uvicorn[standard]==0.29.0
pydantic==2.7.1  # Required for OpenAI server.
prometheus_client==0.20.0
prometheus-fastapi-instrumentator >= 7.0.0
tiktoken == 0.6.0  # Required for DBRX tokenizer
lm-format-enforcer == 0.9.8
outlines == 0.0.34 # Requires torch >= 2.1.0
typing_extensions==4.11.0
filelock==3.13.4 # filelock starts to support `mode` argument from 3.10.4
